.name-div,
.toDoList,
form,
h4 {
    display: none;
}

.greetings {}

.showing {
    display: block;
}

.hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;

    .bg-div {
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;

        &.bg-1 {
            background-image: url(./images/1.jpg);
        }

        &.bg-2 {
            background-image: url(./images/2.jpg);
        }

        &.bg-3 {
            background-image: url(./images/3.jpg);
        }
    }

    .main-contanier {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .clock {
        cursor: default;
        font-size: 7vw;
        color: white;
        letter-spacing: -5px;
        text-align: center;

        h1 {
            margin: 0;
            line-height: 1;
            font-weight: bold;
        }
    }

    .message,
    .greetings {
        display: inline-block;
        color: white;
        font-size: 3vw;
        text-align: center;
        font-weight: bold;
    }

    .message {
        margin-right: 10px;
    }

    .name-div {
        text-align: center;
    }

    .js-form,
    .toDoForm {
        margin-top: 5vh;
        width: 100%;
        color: white;
        font-size: 2.1vw;
        font-weight: bold;

        h3 {
            text-align: center;
        }

        input {
            width: 100%;
            margin: 0 auto;
            padding-top: 15px;
            font-size: 5vw;
            display: block;
            background: 0;
            border: 0;
            border-bottom: 2px solid #fff;
            color: #fff;
            font-weight: 500;
            outline: 0;
            text-align: center;
            transition: border-color .2s ease;
            line-height: 100%;

            &::placeholder {
                color: rgba(255, 255, 255, 0.50);
            }
        }
    }

    .toDoList {
        height: 300px;
        overflow-y: scroll;
        list-style-type: none;
        margin-right: -17px;
        padding-left: 10px;

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;

            span,
            button {
                color: white;
                margin-right: 20px;
            }

            span {
                font-size: 2vw;
                font-weight: bold;
            }

            button {
                background: none;
                border: none;
                font-size: 1.5vw;
                padding: 0.2vw;
                height: 2vw;
                width: 2vw;
                line-height: 1;

                &:hover {
                    border: none;
                    border-radius: 50%;
                    background: hsla(0, 0%, 87%, 0.25);
                    cursor: pointer;
                }
            }
        }
    }
}

.material-checkbox {
    z-index: 0;
    position: relative;
    display: flex;
    color: white;
    font-size: 16px;
    line-height: 1.5;

    > {
        input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            z-index: -1;
            position: absolute;
            left: -10px;
            top: -8px;
            display: block;
            margin: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: white;
            box-shadow: none;
            outline: none;
            opacity: 0;
            transform: scale(1);
            pointer-events: none;
            transition: opacity 0.3s, transform 0.2s;
        }

        span {
            display: flex;
            width: 100%;
            cursor: pointer;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                margin: 3px 11px 3px 1px;
                border: solid 2px;
                /* Safari */
                border-color: white;
                border-radius: 2px;
                width: 18px;
                height: 18px;
                vertical-align: top;
                transition: border-color 0.2s, background-color 0.2s;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -13px;
                bottom: 0;
                left: 1px;
                width: 10px;
                height: 5px;
                border: solid 2px transparent;
                border-right: none;
                border-top: none;
                margin: auto;
                transform: translate(3px, 4px) rotate(-45deg);
            }
        }

        input {

            &:checked,
            &:indeterminate {
                background-color: none;
            }

            &:checked+span {
                text-decoration: line-through;
                opacity: .85;

                &::before {
                    border-color: none;
                    background-color: none;
                }
            }

            &:indeterminate+span::before {
                border-color: none;
                background-color: none;
            }

            &:checked+span::after {
                border-color: rgb(255, 255, 255);
            }

            &:indeterminate+span::after {
                border-color: rgb(255, 255, 255);
                border-left: none;
                transform: translate(4px, 3px);
            }
        }
    }

    &:hover {
        >input {
            opacity: 0.04;
        }

        >input:focus {
            opacity: 0.16;
        }
    }

    >input:focus {
        opacity: 0.12;
    }

    >input {
        &:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;

            +span::before {
                border-color: none;
            }
        }

        &:checked:active+span::before {
            border-color: transparent;
            background-color: white;
        }

        &:disabled {
            opacity: 0;

            +span {
                color: white;
                cursor: initial;

                &::before {
                    border-color: currentColor;
                }
            }
        }

        &:checked:disabled+span::before,
        &:indeterminate:disabled+span::before {
            border-color: transparent;
            background-color: currentColor;
        }
    }
}


@media screen and (min-width: 1200px) {
    body {
        .main-contanier {
            .clock {
                h1 {
                    font-size: 200px;
                }
            }
        }
    }
}